In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('loan_data.csv')

In [3]:
dataset.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [4]:
dataset.describe(include='all')

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
unique,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,debt_consolidation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.804970,NaN,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,NaN,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,NaN,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,NaN,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,NaN,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,NaN,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,NaN,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [5]:
dummy = pd.get_dummies(data=dataset['purpose'], drop_first=True)

In [9]:
dataset = pd.concat([dataset, dummy], axis=1)

In [10]:
dataset.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,1,0,0,0,0,0

In [11]:
dataset.drop('purpose', axis=1, inplace=True)

In [12]:
dataset.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,1,0,0,0,0,0

In [13]:
y = dataset['not.fully.paid']
X = dataset.drop('not.fully.paid', axis=1)

In [14]:
X.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,credit_card,debt_consolidation,educational,home_improvement,major_purchase,small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,1,0,0,0,0,0

In [18]:
#Training  & Testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=101)

In [19]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler

In [20]:
sc = StandardScaler()

In [21]:
X_train = sc.fit_transform(X_train)

In [22]:
X_test = sc.transform(X_test)

In [23]:
#Grid Search

In [24]:
param_grid = {'C':[0.1,1,10,100,1000],'gamma':[1,0.1,0.01,0.001], 'kernel':['rbf','linear','poly','sigmoid'], 'degree':[1,2,3,4,5,6]}

In [25]:
from sklearn.model_selection import GridSearchCV

In [26]:
from sklearn.svm import SVC

In [27]:
svc = SVC()

In [28]:
grid = GridSearchCV(svc, param_grid, refit=True, verbose=4)

In [29]:
grid.fit(X_train, y_train)

C:\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 3 folds for each of 480 candidates, totalling 1440 fits
[CV] C=0.1, degree=1, gamma=1, kernel=rbf ............................
[CV]  C=0.1, degree=1, gamma=1, kernel=rbf, score=0.837, total=   3.5s
[CV] C=0.1, degree=1, gamma=1, kernel=rbf ............................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    3.4s remaining:    0.0s

[CV]  C=0.1, degree=1, gamma=1, kernel=rbf, score=0.838, total=   3.3s
[CV] C=0.1, degree=1, gamma=1, kernel=rbf ............................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    6.7s remaining:    0.0s

[CV]  C=0.1, degree=1, gamma=1, kernel=rbf, score=0.838, total=   3.5s
[CV] C=0.1, degree=1, gamma=1, kernel=linear .........................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   10.2s remaining:    0.0s

[CV]  C=0.1, degree=1, gamma=1, kernel=linear, score=0.837, total=   0.6s
[CV] C=0.1, degree=1, gamma=1, kernel=linear .........................
[CV]  C=0.1, degree=1, gamma=1, kernel=linear, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=1, kernel=linear .........................
[CV]  C=0.1, degree=1, gamma=1, kernel=linear, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=1, kernel=poly ...........................
[CV]  C=0.1, degree=1, gamma=1, kernel=poly, score=0.837, total=   0.7s
[CV] C=0.1, degree=1, gamma=1, kernel=poly ...........................
[CV]  C=0.1, degree=1, gamma=1, kernel=poly, score=0.838, total=   0.7s
[CV] C=0.1, degree=1, gamma=1, kernel=poly ...........................
[CV]  C=0.1, degree=1, gamma=1, kernel=poly, score=0.838, total=   0.7s
[CV] C=0.1, degree=1, gamma=1, kernel=sigmoid ........................
[CV]  C=0.1, degree=1, gamma=1, kernel=sigmoid, score=0.758, total=   1.5s
[CV] C=0.1, degree=1, gamma=1, kernel=sigmoid ........................
[CV]  C=0.1, degree=1, gamma=1, kernel=sigmoid, score=0.755, total=   1.4s
[CV] C=0.1, degree=1, gamma=1, kernel=sigmoid ........................
[CV]  C=0.1, degree=1, gamma=1, kernel=sigmoid, score=0.755, total=   2.1s
[CV] C=0.1, degree=1, gamma=0.1, kernel=rbf ..........................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=rbf, score=0.837, total=   2.3s
[CV] C=0.1, degree=1, gamma=0.1, kernel=rbf ..........................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=rbf, score=0.838, total=   2.2s
[CV] C=0.1, degree=1, gamma=0.1, kernel=rbf ..........................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=rbf, score=0.838, total=   2.1s
[CV] C=0.1, degree=1, gamma=0.1, kernel=linear .......................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=linear, score=0.837, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.1, kernel=linear .......................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=linear, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.1, kernel=linear .......................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=linear, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.1, kernel=poly .........................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=poly, score=0.837, total=   0.7s
[CV] C=0.1, degree=1, gamma=0.1, kernel=poly .........................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=poly, score=0.838, total=   0.7s
[CV] C=0.1, degree=1, gamma=0.1, kernel=poly .........................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=poly, score=0.838, total=   0.7s
[CV] C=0.1, degree=1, gamma=0.1, kernel=sigmoid ......................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=sigmoid, score=0.809, total=   1.5s
[CV] C=0.1, degree=1, gamma=0.1, kernel=sigmoid ......................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=sigmoid, score=0.811, total=   1.7s
[CV] C=0.1, degree=1, gamma=0.1, kernel=sigmoid ......................
[CV]  C=0.1, degree=1, gamma=0.1, kernel=sigmoid, score=0.818, total=   1.4s
[CV] C=0.1, degree=1, gamma=0.01, kernel=rbf .........................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=rbf, score=0.837, total=   1.7s
[CV] C=0.1, degree=1, gamma=0.01, kernel=rbf .........................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=rbf, score=0.838, total=   1.8s
[CV] C=0.1, degree=1, gamma=0.01, kernel=rbf .........................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=rbf, score=0.838, total=   1.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=linear ......................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=linear, score=0.837, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=linear ......................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=linear, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=linear ......................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=linear, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=poly ........................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=poly, score=0.837, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=poly ........................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=poly, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=poly ........................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=poly, score=0.838, total=   0.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=sigmoid .....................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=sigmoid, score=0.837, total=   1.6s
[CV] C=0.1, degree=1, gamma=0.01, kernel=sigmoid .....................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=sigmoid, score=0.837, total=   1.5s
[CV] C=0.1, degree=1, gamma=0.01, kernel=sigmoid .....................
[CV]  C=0.1, degree=1, gamma=0.01, kernel=sigmoid, score=0.838, total=   1.6s
[CV] C=0.1, degree=1, gamma=0.001, kernel=rbf ........................

KeyboardInterrupt: