In [1]:
import pandas as pd 
import numpy as np

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [3]:
hier_index = list(zip(outside, inside))

In [4]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])

In [13]:
df

             A         B
G1 1  0.809749  0.227747
   2  0.095213 -0.329113
   3  0.474420  2.230391
G2 1 -0.495286  0.170606
   2  0.317415  0.751179
   3  0.835858 -0.306724

In [21]:
df.loc['G1'].loc[1]

A    0.809749
B    0.227747
Name: 1, dtype: float64

In [23]:
df.index.names = ['Groups','Num']

In [24]:
df

                   A         B
Groups Num
G1     1    0.809749  0.227747
       2    0.095213 -0.329113
       3    0.474420  2.230391
G2     1   -0.495286  0.170606
       2    0.317415  0.751179
       3    0.835858 -0.306724

In [25]:
df.loc['G2'].loc[2]['B']

0.7511790378452423

In [31]:
df.xs(2, level='Num')

               A         B
Groups
G1      0.095213 -0.329113
G2      0.317415  0.751179