In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv('Bank-data.csv')

In [3]:
raw_data.head()

   Unnamed: 0  interest_rate  credit  march  may  previous  duration    y
0           0          1.334     0.0    1.0  0.0       0.0     117.0   no
1           1          0.767     0.0    0.0  2.0       1.0     274.0  yes
2           2          4.858     0.0    1.0  0.0       0.0     167.0   no
3           3          4.120     0.0    0.0  0.0       0.0     686.0  yes
4           4          4.856     0.0    1.0  0.0       0.0     157.0   no

In [4]:
data = raw_data.copy()

In [7]:
data = data.drop(['Unnamed: 0'], axis=1)

In [8]:
data['y'] = data['y'].map({'yes':1,'no':0})

In [10]:
y = data['y']
x1 = data['duration']