# Basics

* Data types
    * Numbers (int, float, complex):
    Integers in Python 3 are of unlimited size. Python 2 has two integer types - int and long. There is no 'long integer' in Python 3 anymore
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

### 1. Variables

In [1]:
## Can not start with number or special characters (Except few)
#underscore allowed

In [3]:
1x = 10

SyntaxError: invalid syntax (<ipython-input-3-d6bc7cef26a6>, line 1)

In [4]:
x = 5

In [5]:
x

5

In [6]:
y = 8

In [7]:
Y

NameError: name 'Y' is not defined

In [8]:
print(y)

8

In [9]:
x

5

In [10]:
y

8

In [11]:
x,y = 1,2

In [12]:
a,b = (3,4)

In [13]:
x

1

In [14]:
y

2

In [15]:
a

3

In [16]:
b

4

In [17]:
x,y = (1,2,3)

ValueError: too many values to unpack (expected 2)

### Exercise Variables

In [ ]:
#Create a variable with name "x" and a value of 10. Execute.
x = 10

In [ ]:
#Tell the computer to show you the value of that variable.
x

In [ ]:
#Can you think of a second way to obtain the same result?
print(x)

In [ ]:
#On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively
a,b,c,d = (10,20,30,40)

In [ ]:
#Alternatively
a,b,c,d = 10,20,30,40

In [ ]:
#Tell the computer to show you the value corresponding to the variable "b".
b

In [ ]:
#Alternatively:
print(b)

In [ ]:
#Do the same for "d".
d

In [ ]:
print(d)

### 2. Numbers & Booleans

In [ ]:
x1 = 5

In [ ]:
type(x1)

In [ ]:
type(-6)

In [ ]:
x2 = 4.75

In [ ]:
type(x2)

In [ ]:
float(5)

In [ ]:
x3 = 10 + 12j

In [ ]:
type(x3)

In [ ]:
x4 = True

In [ ]:
type(x4)

In [ ]:
bool(True)

In [ ]:
x4 = true

In [ ]:
x4 = TRUE

### Exercise Numbers and Boolean Values

In [ ]:
#Create a variable equal to "True".
a = True

In [ ]:
#Check its type.
type(a)

In [ ]:
#Create a variable equal to 99
b = 99

In [ ]:
#Check its type
type(b)

In [ ]:
#Check the type of the value 0.99
type(0.99)

In [ ]:
#Turn 99 into a float.
float(99)

In [ ]:
#Turn 0.99 into an integer. What value did you get?
int(0.99)

### 3. Strings

In [ ]:
Hello

In [ ]:
'Hello'

In [ ]:
"Hello"

In [ ]:
print('Hello')

In [ ]:
x4 = 'Hello'

In [ ]:
y = 10
print(y + "Rupees")

In [ ]:
y = 10
print(str(y) + " Rupees")

In [ ]:
'I'm fine

In [ ]:
'I\'m fine'

In [ ]:
"I'm fine"

In [ ]:
'Press "Enter"'

In [ ]:
'Good' + 'Afternoon'

In [ ]:
'Good' + ' Afternoon'

In [ ]:
print('Elections '+ '2019')

In [ ]:
print('Elections ','2019')

In [ ]:
#If you pass different data types together, python store them in tuple
3,4,5,6,7.7,'Hello'

In [ ]:
type((3,4,5,6,7.7,'Hello'))

#### Print Formatting

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

In [ ]:
print('My number is: {x}, and my name is: {y}'.format(x=num,y=name))

#### Indexing

In [ ]:
"Friday"

In [ ]:
"Friday"[3]

In [ ]:
y = 'Friday'
y[4]

In [ ]:
y[:]

In [ ]:
y[3:]

In [ ]:
y[:3]

### Exercise Strings

In [ ]:
#Assign the value of 100 to the variable "m"

In [ ]:
m = 100

In [ ]:
#With the help of the variable "m", write one line of code where the output after executuion would be '100 days'
#Hint: You could provide four answers to this question!

In [ ]:
print(str(m), 'days')
#or
print (str(m), "days")
#or
print (str(m) + ' days')
#or
print (str(m) + " days")

In [ ]:
#Produce an output equal to 'It's cool, isn't it?'
print ('It\'s cool, isn\'t it?')
#or
print ("It's cool, isn't it?")
#or
print ("It\'s cool, isn\'t it?")

### 4. Arithmetic Operators

In [ ]:
1+2

In [ ]:
3-5

In [ ]:
15/3

In [ ]:
16/3

In [ ]:
float(16)/3

In [ ]:
16 % 3

In [ ]:
5 * 3

In [ ]:
5 ** 2

In [ ]:
5+2*3+2

In [ ]:
(5+2) * (3+2)

In [ ]:
5 == 3

In [ ]:
y = 5**3

In [ ]:
y

In [ ]:
y == 125

In [ ]:
y == 126

### Exercise Arithmetic Operators

In [ ]:
#Add 15 and 23.
15 + 23

In [ ]:
#Subtract 50 from 26.
26 - 50

In [ ]:
#Divide 20 by 4
20 / 4

In [ ]:
#Divide 22 by 4.
22/4

In [ ]:
#Obtain the remainder of the division of 22 by 4
22 % 4

In [ ]:
#Raise 15 to the power of 2.
15 ** 2

### Comments

As part of the Python it is taught that in order to do a multiline comment one should use """triple quotes""". This is wrong. Python only has one way of doing comments and that is using #.

Triple quotes are treated as regular strings with the exception that they can span multiple lines. By regular strings I mean that if they are not assigned to a variable they will be immediately garbage collected as soon as that code executes. hence are not ignored by the interpreter in the same way that #a comment is

In [ ]:
#Single line comment

### Line Continuation

In [ ]:
#You can use backslash to continue programming in next line
2.0 * 1.5 + \
5

In [ ]:
#If you not use backslash
15 + 31
- 26

In [ ]:
#When you use backslash
15 + 31 \
- 26

### 5.Comparision Operator

In [ ]:
10 == 20 / 2

In [ ]:
10 != 10

In [ ]:
10 != 15

In [ ]:
100 > 50

In [ ]:
100 < 50

In [ ]:
15 >= 10 + 10

In [ ]:
5 * 3 <= 5 ** 3

### 6.Logical Operators

In [ ]:
#and is used in python (do not use '&', that is bitwise operation)
True and True

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
3 > 5 and 10 <= 20

**Not - And - Or**

In [ ]:
False or not True and True

#### identity operators

The identity operators in Python are used to determine whether a value is of a certain class or type.

Two identity operators are available in Python:

**is** – returns True if the type of the value in the right operand points to the same type in the left operand. For example, type(3) is int evaluates to True because 3 is indeed an integer number.

**is not** – returns True if the type of the value in the right operand points to a different type than the value in the left operand. For example, type(3) is not float evaluates to True because 3 is not a floating-point value.

In [ ]:
x = 5

In [ ]:
type(x) is int

In [ ]:
type(x) is not float

In [ ]:
#can also be used to check equality
5 is 6

In [ ]:
5 is not 6

In [ ]:
#It is same as
5 != 6

**Note: however, this is tricky.**
#The == operator compares by checking for equality
#The is operator, however, compares identities
#Lets see this with example

In [ ]:
#Create a new list object and define another variable that points to it
a = [1,2,3]
b = a
#then inspect these variables
print(a)
print(b)

In [ ]:
#Lets compare these two with equality and identity
print(a == b)
print(a is b)

In [ ]:
#Now lets create an identical copy of list a and store it in c
c = list(a)
#then inspect the variable c
print(c)

In [ ]:
#Now, lets compare this with equality and identity
print(a == c)
print(a is c)

In [ ]:
#You can see here, as the elements of a and c are same
#the equality gives you back the result as True
#However, a and c are now different object (with same elements)
#In memory, a and c are pointing to different memory locations

### 7. If-Else-Elif

In [ ]:
#syntax
#if condition :
    #code here

In [ ]:
if (5 == 15/3):
    print('Yes this is true')

In [ ]:
#You can write the same code without brackets as well
if 5 == 15 / 3:
    print ("Hooray!")

In [ ]:
x = 1

if x > 3:
    print ("Case 1")
else:
    print ("Case 2")

#Note: It is very important to mark the indentations
#A slight error in space and indentations witll messup your code

In [ ]:
#Important Note: Python does not have case statements
#You can implement one using dictionaries

In [ ]:
#elif (Same as elseif in R)
def compare_to_five(y):
    if y > 5:
        return "Greater"
    elif y < 5:
        return "Less"
    else:
        return "Equal"

In [ ]:
print (compare_to_five(10))

In [ ]:
print (compare_to_five(2))

In [ ]:
print (compare_to_five(5))

#### Exercise if-else-elif

Assign 200 to x. Create the following piece of code: If x > 200, print out "Big"; If x > 100 and x <= 200, print out "Average"; and If x <= 100, print out "Small". Use the If, Elif, and Else keywords in your code.

In [ ]:
x = 200

if x > 200: 
    print ("Big")
elif x > 100 and x <= 200:
    print ("Average")
else:
    print ("Small")

Keep the above program same and add a condition for negative values. Basically if you pass any negative value, it should say 'Negative'

In [ ]:
x = -5

if x > 200: 
    print ("Big")
elif x > 100 and x <= 200:
    print ("Average")
elif x >= 0 and x <= 100:
    print ("Small")  
else:
    print ("Negative")

### 8. Functions

In [ ]:
#Function syntax:
def simple():
    print("My first function")

In [ ]:
simple()

If you do not return any value from a Python function, it returns None. So, whether to explicitly return None is a stylistic decision

#### Functins with parameters

In [ ]:
def plus_ten(a):
    return a + 10

In [ ]:
plus_ten(2)

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func()

In [ ]:
my_func('Sammy')

In [ ]:
my_func(param1='new param')

#Important Note: 
If you have multiple parameters in your function and you have a parameter with default values as well, then the parameter with default values should always be at last or else it will throw error

In [ ]:
def my_func(param1='default', param2):
    print(param1, param2)

In [ ]:
def my_func(param2, param1='default'):
    print(param1, param2)

In [ ]:
my_func('hello')

In [ ]:
my_func('hello', 'there')

If you are calling argument by name, then make sure you call each argument by name, if not then it will throw error

In [ ]:
my_func(param1='hello','there')

In [ ]:
my_func(param2='hello',param1='there')

#### returning values from function

In [ ]:
#return keyword is mandatory while returning unlike R
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

#### Function within Function

In [ ]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [ ]:
wage(8)

In [ ]:
with_bonus(8)

In [ ]:
wage(8), with_bonus(8)

### 9. Lambda Expression

In [ ]:
#also known as unnamed functions or anonymous functions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
#syntax is:
#lambda arguments: expression
lambda var: var*2

#### lambda for multiple variables

In [ ]:
a = lambda x,y,z : (x+y+z)

In [ ]:
a(1,2,3)

In [ ]:
#or you can return multiple values as well
b = lambda x,y,z : (x+y+z, x*y*z)

In [ ]:
b(1,2,4)

In [ ]:
#If multiple returns, then the first return statement executes
def plus_ten(a):
    result = a + 10
    return "Outcome:"
    return result

In [ ]:
plus_ten(2)

In [ ]:
def plus_ten(a):
    result = a + 10
    return result
    return "Outcome:"

In [ ]:
plus_ten(2)

### 10. Notable Built-in Functions
Reference: https://data36.com/python-built-in-functions-methods-python-data-science-basics-3/

In [ ]:
type(10)

In [ ]:
int(5.0)

In [ ]:
float(3)

In [ ]:
str(500)

In [ ]:
max(10, 20, 30)

In [ ]:
min(10, 20, 30)

In [ ]:
z = -20
abs(z)

In [ ]:
list_1 = [1,2,4,3]
sum(list_1)

In [ ]:
sorted(list_1)

In [ ]:
round(3.555,2)

In [ ]:
round(3.2)

In [ ]:
2 ** 10

In [ ]:
pow(2,10)

In [ ]:
a = 'Mathematics'
print(len('Mathematics'))
print(len(a))

In [ ]:
a.upper()

In [ ]:
a.lower()

In [ ]:
b = '    hello    '
b

In [ ]:
b.strip()

In [ ]:
#Replaces all occurance in string. 
#Small and caps letters are treated differently
a.replace('M','H')

In [ ]:
#To replace all occurance
a.lower().replace('m','h')

In [ ]:
a = 'Hello World'
a.split(' ')

In [ ]:
#To joing strings with a delimited
#'delimiter'.join(a)
a = ['Hello', 'World']
'-'.join(a)

#### Exercise

Create a function, called "distance_from_zero", that returns the absolute value of a provided single argument and prints a statement "Not Possible" if the argument provided is not a number. Call the funtion with the values of -10 and "cat" to verify it works correctly.

In [ ]:
def distance_from_zero(x):
    if type(x) == int or type(x) == float:
        return abs(x)
    else:
        print ("Not possible")

In [18]:
distance_from_zero(-10)

NameError: name 'distance_from_zero' is not defined

In [19]:
distance_from_zero("cat")

NameError: name 'distance_from_zero' is not defined

### 11. Lists

In [20]:
[1,2,3]

[1, 2, 3]

In [21]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [22]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [23]:
print (Participants[1])

Leila

In [24]:
my_list = ['a','b','c']

In [25]:
my_list2 = list(my_list)

In [26]:
#Check for equality and identity
print(my_list == my_list2)
print(my_list is my_list2)

True
False

In [27]:
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [28]:
#Gives last element of list
Participants[-1]

'Cate'

In [29]:
#Gives second last element of list
Participants[-2]

'Gregory'

In [30]:
#Gives first element
Participants[0]

'John'

In [31]:
#modify the elements of list
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [32]:
#delete elements of list
del Participants[2]
Participants

['John', 'Leila', 'Maria']

#### Some Functions on list

In [33]:
Participants

['John', 'Leila', 'Maria']

In [34]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [35]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [36]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [37]:
len(Participants)

6

In [38]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [39]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [40]:
Numbers = [1,3,2,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [41]:
Numbers.sort(reverse = True)
Numbers

[5, 4, 3, 2, 1]

#### Slicing in List

In [42]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [43]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [44]:
#Last index is always excluding in python
Participants[1:3]

['Leila', 'Maria']

In [45]:
Participants[:2]

['John', 'Leila']

In [46]:
Participants[4:]

['George', 'Catherine']

In [47]:
#all elements starting from second last in the list to the end of list
Participants[-2:]

['George', 'Catherine']

In [48]:
Maria_ind = Participants.index("Maria")
Maria_ind

2

In [49]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [50]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

#### Exercise with list slicing

In [51]:
Numbers = [15, 40, 50, 100, 115, 140]

In [52]:
#Using list slicing, obtain the numbers 100 and 115.
Numbers[3:5]

[100, 115]

In [53]:
#Get two different numbers from list
Numbers[3],Numbers[5]

(100, 140)

In [54]:
#Using slicing, extract the first four elements from the list.
Numbers[:4]

[15, 40, 50, 100]

In [55]:
#Using slicing, extract all the elements from the list from the 3rd position onwards.
Numbers[3:]

[100, 115, 140]

In [56]:
#Using slicing, extract the last 4 elements from the list.
Numbers[-4:]

[50, 100, 115, 140]

In [57]:
#Which is the position of the value 15?
Numbers.index(15)

0

In [58]:
#Sort all the numbers in the "Numbers" list in Descending order
Numbers.sort(reverse=True)
Numbers

[140, 115, 100, 50, 40, 15]

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

In [59]:
Two_Numbers = [1,2]
All_Numbers = [Two_Numbers, Numbers]
All_Numbers

[[1, 2], [140, 115, 100, 50, 40, 15]]

In [60]:
All_Numbers[0][1]

2

### 12. Tuples

In [61]:
x = (40, 41, 42)
x

(40, 41, 42)

In [62]:
y = 50, 51, 52
y

(50, 51, 52)

In [63]:
x[0]

40

In [64]:
#Tuple unpacking
a,b,c = 1,4,6
c

6

In [65]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [66]:
(age, years_of_school) = "30,17".split(',')
print (age)
print (years_of_school)

30
17

In [67]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:") 
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

### 13. Dictionaries

In [68]:
#key:value pairs
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [69]:
dict['k1']

'cat'

In [70]:
dict["k3"]

'mouse'

In [71]:
#add more elements to dictionries
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [72]:
#Modify elements
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [73]:
#Different types of elements in dictionary
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [74]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [75]:
#Create an empty dictionary and add elements
Team = {}
print(Team)

{}

In [76]:
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [77]:
print (Team['Center'])

Hector

#### iterating over dictionaries

In [78]:
#You can iterate over dictionaries using for loop in python

In [79]:
#Find the total money spent
prices = {
    "burger" : 40,
    "pizza"  : 50,
    "bread" : 20
   }

quantity = {
    "burger" : 2,
    "pizza"  : 1,
    "bread" : 3
    }

In [80]:
money_spent = 0
for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])

print(money_spent)

190

### 14.For Loop

In [81]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [82]:
#similar to for each loop
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [83]:
for n in even:
    print(n, end=" ")

0 2 4 6 8 10 12 14 16 18 20

### 15.While Loop

In [84]:
x = 0
while x <= 20:
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [85]:
#same can be done using parenthesis on conditions as well
x = 0
while (x <= 20):
    print (x, end=" ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [86]:
#x += 2 is also supported in python
#x++ is not supported unlike java
x = 0
while x <= 20:
    print (x, end=" ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

#### Few random tricks

In [87]:
a = range(10)
for element in a:
    print(element,end=" " )

0 1 2 3 4 5 6 7 8 9

In [88]:
b = range(3,7)
for element in b:
    print(element,end=" " )

3 4 5 6

In [89]:
c = range(1,20,2)
for element in c:
    print(element,end=" " )

1 3 5 7 9 11 13 15 17 19

In [90]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print ("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

#### Common Exercise

Create a function to count the number of values in a list which is less than 20

In [91]:
nums = [1,35,12,13,13,24,31,51,70,100]

In [92]:
def count(numbers):
    numbers = sorted(numbers)
    i = 0
    
    while numbers[i] < 20:
        i += 1
    return i

In [93]:
count(nums)

4

### 16.Map and Filters

In [94]:
seq = [1,2,3,4,5]
def times2(var):
    return var*2

In [95]:
map(times2,seq)

In [96]:
print(map(times2,seq))

<map object at 0x00000000051FFA20>

In [97]:
#to get the actual values, you have to use list function 
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [98]:
#same thing can be done using lambda function as well
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [99]:
filter(lambda item: item%2 == 0,seq)

In [100]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]