# NumPy

You can install numpy in your anaconda environment using command 'conda install numpy'. However it comes preinstalled with Anaconda Distribution

## Using NumPy

Once you've installed NumPy you can import it as a library:

In [4]:
import numpy as np

# Numpy Arrays
Used majorly for linear Algebra (Arrays).

Numpy arrays essentially come in two flavors: vectors and matrices. 
Vectors are strictly 1-d arrays and matrices are 2-d (but you should note a matrix can still have only one row or one column).


## 1. Creating NumPy Arrays

### 1.1 From a Python List

We can create an array by directly converting a list or list of lists:

In [ ]:
#Not a numpy method but still, you can create a list like this:
#list(range(10))

In [2]:
my_list = [1,2,3]

In [3]:
my_list

[1, 2, 3]

### 1.1.1 array: 
Convert input data (list, tuple, array, or other sequence type) to an ndarray either by inferring a dtype
or explicitly specifying a dtype; copies the input data by default

In [15]:
np.array(my_list)

array([1, 2, 3])

In [16]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [17]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### 1.1.2 asarray: 
It is used when we want to convert input to an array. Input can be lists, lists of tuples, tuples, tuples of tuples, tuples of lists and ndarrays

In [33]:
my_tuple = ([1, 3, 9], [8, 2, 6])
my_tuple

([1, 3, 9], [8, 2, 6])

In [34]:
np_arr = np.asarray(my_tuple)

In [35]:
np_arr

array([[1, 3, 9],
       [8, 2, 6]])

## 1.2 Built-in Methods

There are lots of built-in ways to generate Arrays

### 1.2.1 arange

It is like the built-in range function but returns an evenly spaced ndarray values within a given interval instead of list.

In [18]:
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

### 1.2.2 zeros and ones

Generate arrays of zeros or ones

In [20]:
np.zeros(3)

array([0., 0., 0.])

In [21]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [22]:
np.ones(3)

array([1., 1., 1.])

In [23]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### 1.2.3 ones_like

ones_like takes another array and produces a ones array of the same shape and dtype

In [19]:
arr = np.arange(1,26).reshape((5,5))

In [20]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [21]:
np.ones_like(arr)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

### 1.2.4 zeros_like

Like ones and ones_like but producing arrays of 0s instead

In [22]:
np.zeros_like(arr)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

### 1.2.5 empty

It returns an numpy array object initialized with garbage, you would manually need to set the data in each cell of the matrix. 

By default, the dtype of the created array is float64.

Since it returns an array of garbage values, therefore it is slightly faster as compared to other initialization of array to zeros or ones

Also, these codes probably won’t run on online-ID. Please run them on your systems to explore the working

Refer: https://stackoverflow.com/questions/41948541/run-np-empty-for-the-second-time

In [38]:
np.empty(2, dtype=int)

array([  16777520, 1946157312])

In [41]:
np.empty([2,2], dtype=int)

array([[1946157126, 1913285379],
       [  16777520, 1946157312]])

In [42]:
np.empty([2,2], dtype=int)

array([[ 20774990, 208863232],
       [        0,  33622529]])

### 1.2.6 empty_like

Return a new array with the same shape and type as a given array

In [54]:
arr3 = np.empty_like([[5,2,4],[3,4,5]], dtype='complex')

In [55]:
arr3

array([[1.013e-321+0.j, 0.000e+000+0.j, 0.000e+000+0.j],
       [0.000e+000+0.j, 0.000e+000+0.j, 0.000e+000+0.j]])

In [59]:
arr3.dtype

dtype('complex128')

### 1.2.7 full

Produce an array of the given shape and dtype with all values set to the indicated “fill value”

In [60]:
np.full((5,5),fill_value='Hello')

array([['Hello', 'Hello', 'Hello', 'Hello', 'Hello'],
       ['Hello', 'Hello', 'Hello', 'Hello', 'Hello'],
       ['Hello', 'Hello', 'Hello', 'Hello', 'Hello'],
       ['Hello', 'Hello', 'Hello', 'Hello', 'Hello'],
       ['Hello', 'Hello', 'Hello', 'Hello', 'Hello']], dtype='<U5')

In [61]:
np.full((3,5),fill_value=2)

array([[2, 2, 2, 2, 2],
       [2, 2, 2, 2, 2],
       [2, 2, 2, 2, 2]])

### 1.2.8 full_like

full_like takes another array and produces a filled array of the same shape and dtype

In [71]:
np.full_like(arr3, fill_value=3)

array([[3.+0.j, 3.+0.j, 3.+0.j],
       [3.+0.j, 3.+0.j, 3.+0.j]])

In [75]:
np.full_like(np_arr, fill_value=5)

array([[5, 5, 5],
       [5, 5, 5]])

### 1.2.9 eye, identity

Create a square N × N identity matrix (1s on the diagonal and 0s elsewhere)

identity() just calls eye() so there is no difference in how the arrays are constructed. It is only for the naming convenience. 'identity' is more mathematical

Code for identity:<br>
def identity(n, dtype=None):<br>
&emsp; from numpy import eye <br>
&emsp; return eye(n, dtype=dtype) <br>

In [76]:
np.eye(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [77]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

## 2. Data Types for ndarrays

The data type or dtype is a special object containing the information (or metadata,data about data) the ndarray needs to interpret a chunk of memory as a particular type of data

In [78]:
arr4 = np.array([1, 2, 3], dtype=np.float64)

In [79]:
arr5 = np.array([1, 2, 3], dtype=np.int32)

In [80]:
arr4.dtype

dtype('float64')

In [84]:
arr5.dtype

dtype('int32')

**numpy datatype are as follows:**
- int8, uint8 (i1, u1)
- int16, uint16 (i2, u2)
- int32, uint32 (i4, u4)
- int64, uint64 (i8, u8)
- float16 (f2)
- float32 (f4 or f)
- float64 (f8 or d)
- float128 (f16 or g)
- complex64 (c8, c16)
- complex128 (c32)
- complex256
- bool (?)
- object (O)
- string_ (S)
- unicode (U)

## 3. Conversion of Array to other array types

**You can explicitly cast an array from one dtype to another using ndarray's astype method**

However, depending on your system bit support it may give different results

**Float to int type and vice versa**

In [108]:
arr6 = np.array([1.2, 2.5, 3.3, 4, 5])
arr7 = np.array([1, 2, 3, 4, 5])

In [109]:
print(arr6.dtype)
print(arr7.dtype)

float64
int32

In [111]:
#change arr6-float to integer
int_arr = arr6.astype(int)
#floar_arr = arr6.astype(np.int64)
int_arr.dtype

dtype('int32')

In [116]:
#change arr7-int to float
#floar_arr = arr7.astype(np.float64)
float_arr = arr7.astype(float)

In [117]:
float_arr.dtype

dtype('float64')

**String to int/float etc**

In [123]:
str_arr = np.array(['1.25', '-9.6', '42'], dtype=np.string_)

In [124]:
str_arr

array([b'1.25', b'-9.6', b'42'], dtype='|S4')

In [126]:
arr8 = str_arr.astype(float)

In [127]:
arr8.dtype

dtype('float64')

## 4. Some Random useful methods

### 4.1 linspace
Return evenly spaced numbers over a specified interval.

In [57]:
np.linspace(0,10,3)

array([ 0.,  5., 10.])

In [58]:
np.linspace(0,10,50)

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

### 4.2 Random 

Numpy also has lots of ways to create random number arrays:

### 4.2.1 rand
Create an array of the given shape and populate it with
random samples from a uniform distribution
over ``[0, 1)``.

In [2]:
np.random.rand(2)

array([0.12522648, 0.34284711])

In [3]:
np.random.rand(5,5)

array([[0.21384762, 0.69327707, 0.81946733, 0.37656463, 0.54314898],
       [0.56442376, 0.16114218, 0.67497218, 0.85298982, 0.00959824],
       [0.18012437, 0.52313761, 0.55584972, 0.21084084, 0.62160672],
       [0.43686454, 0.76775842, 0.97545166, 0.39190616, 0.34702421],
       [0.87158148, 0.78348518, 0.99381709, 0.59377312, 0.08407192]])

### 4.2.2 randn

Return a sample (or samples) from the "standard normal" distribution. Unlike rand which is uniform:

In [4]:
np.random.randn(2)

array([-1.12512647, -0.05411063])

In [5]:
np.random.randn(5,5)

array([[-0.65622217,  1.02802913, -1.08958385,  0.05187879,  0.69482143],
       [-0.77470529, -1.36619799, -0.10089356, -0.06262755,  0.95778996],
       [-0.48473009,  0.16980479, -0.29471115,  1.04461375, -1.48273776],
       [-1.34096877, -0.8535658 ,  0.56854022, -0.76092772,  0.5023414 ],
       [-0.90135014,  0.99929458, -0.14885085, -0.3071196 ,  0.46928575]])

### 4.2.3 randint
Return random integers from `low` (inclusive) to `high` (exclusive).

In [46]:
np.random.randint(1,100)

73

In [47]:
np.random.randint(1,100,10)

array([44, 22, 68, 52, 48, 20, 83, 30, 70, 40])

## 5 Array Attributes and Methods

Let's discuss some useful attributes and methods or an array:

In [4]:
arr = np.arange(25)
ranarr = np.random.randint(0,50,10)

In [5]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [11]:
ranarr

array([47, 38, 47, 13, 29, 26, 44,  5, 46, 26])

### 5.1 Reshape
Returns an array containing the same data with a new shape.

In [7]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

To fill the matrix column wise, use the 'order=' argument

In [8]:
arr.reshape((5,5), order='F')

array([[ 0,  5, 10, 15, 20],
       [ 1,  6, 11, 16, 21],
       [ 2,  7, 12, 17, 22],
       [ 3,  8, 13, 18, 23],
       [ 4,  9, 14, 19, 24]])

### 5.2 max,min,argmax,argmin

These are useful methods for finding max or min values. Or to find their index locations using argmin or argmax

In [53]:
ranarr

array([20, 35,  1, 41, 15, 10, 11,  5, 12, 35])

In [54]:
ranarr.max()

41

In [55]:
ranarr.argmax()

3

In [57]:
ranarr.min()

1

In [58]:
ranarr.argmin()

2

In [9]:
#To sort an array in place, you ca use sort() method
#ranarr.sort()
#however it sorts the array in place, so you print the array to 
#see the values

To get the indexes of array elements which represents the sorted order (ascending)

In [14]:
ranarr

array([47, 38, 47, 13, 29, 26, 44,  5, 46, 26])

In [15]:
ranarr.argsort()
#Returns the indices that would sort this array

array([7, 3, 5, 9, 4, 1, 6, 8, 0, 2], dtype=int64)

In [16]:
#To get the indexes of elements that are non-zero
ranarr.nonzero()

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64),)

### 5.3 Shape

Shape is an attribute that arrays have (not a method):

In [69]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [59]:
# Vector
arr.shape

(25,)

In [70]:
# Notice the two sets of brackets
arr.reshape(1,25)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24]])

In [73]:
arr.reshape(1,25).shape

(1, 25)

In [74]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [75]:
arr.reshape(25,1).shape

(25, 1)

### 5.4 dtype

You can also grab the data type of the object in the array:

In [17]:
arr.dtype

dtype('int32')

## 6 Quick Tips

In [21]:
#If you do not want to type in say, np.random.randint()
#what you can do is, say, 
#from numpy.random import randint
#randint(2,10)

#or you can do
#from numpy.random import *
#and then use all the functions directly
#however this appraoch is not suggested

In [19]:
from numpy.random import *

In [20]:
randint(0,5, 4)

array([2, 3, 3, 3])